--binarygrouping none
--decimalgrouping none
--exclude Package.swift
--header "Copyright © 2020  Brian Dewey. Covered by the Apache 2.0 license."
--hexgrouping none
--indent 2
--octalgrouping none
--patternlet inline
--stripunusedargs closure-only
--wraparguments beforefirst
--wrapcollections beforefirst
--self init-only
